
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');  /*importa fontes do google fonts*/

/**/

:root {
    --cor-primaria: #2C3639;
    --cor-secundaria: #DCD7C9;
    --cor-terciaria: #A27B5C;
    --cor-hover: #3F4E4F;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}


* {
    margin: 0; /*Limpa uma área fora da borda. A margem é transparente*/
    padding: 0; /*Limpa uma área ao redor do conteúdo. O enchimento é transparente*/
}

body {
    /*height: 100vh; /*Define a altura da tela viewport*/
    box-sizing: border-box; /*encolhe o conteudo dentro do elemento pai*/
    background-color: var(--cor-primaria); /*cor do plano de fundo*/
    color: var(--cor-secundaria); /*cor das fontes*/    
}

.cabecalho {
    padding: 2% 0 0 15%; /*Cria margem laterais, superior*/
    display: flex;  /*Flexbox - Posiciona tudo dentro do elemento Pai um do lado do outro*/
}

.cabecalho__menu {
    display: flex;  /*Flexbox - Posiciona tudo dentro do elemento Pai um do lado do outro*/
    gap: 80px; /*Cria os espaçamento entre os elementos*/
}

.cabecalho__menu__link {
    font-size: 1.5rem; /*tamanho da fonte. Alterado de 24px para rem. 16px = 1.*/
    font-family: var(--fonte-secundaria);  /*Formato da Fonte do google fonts*/
    font-weight: 600; /*Peso da fonte*/
    color: var(--cor-terciaria); /*Cor da fonte*/
    text-decoration: none; /*remove o sublinhado do link*/
}

.apresentacao { /*Propriedades do main*/
    /*margin: 10% 15%; /*Cria margem laterais, superior*/
    padding: 5% 15%; /*Cria margem laterais, superior*/
    display: flex;  /*Flexbox - Posiciona tudo dentro do elemento Pai um do lado do outro*/
    align-items: center; /*Traz o conteudo pro centro - display flex*/
    justify-content: space-between; /*Flexbox - Espaça os elementos do Main Apresentação*/
    gap: 82px; /*Cria os espaçamento entre os elementos*/
}

.apresentacao__conteudo {  /*Propriedades do <section>*/
    width: 50%; /*largura da section. Alterado de px para % para responsivar*/
    display: flex; /**/
    flex-direction: column; /*Coloca os itens em colunas*/
    gap: 40px; /*Cria os espaçamento entre os elementos filhos*/
}

.apresentacao__conteudo__titulo  { /*Propriedades do <h>1*/
    font-size: 2.25rem; /*tamanho da fonte. Alterado de 36px para rem. 16px = 1.*/ 
    font-family: var(--fonte-primaria); /*Formato da Fonte do google fonts*/
}

.titulo-destaque {
    color: var(--cor-terciaria); /**/
}

.apresentacao__conteudo__texto { /*Propriedades do <p>*/
    font-size: 1.5rem; /*tamanho da fonte. Alterado de 24px para rem. 16px = 1.*/
    font-family: var(--fonte-secundaria);  /*Formato da Fonte do google fonts*/
}

.apresentacao__links { /*Propriedades do <div> botao*/
    display: flex;  /*Flexbox - Posiciona tudo dentro do elemento Pai um do lado do outro*/
    flex-direction: column; /*Coloca os itens da div em colunas*/
    align-items: center; /*Alinha os itens no centro*/
    justify-content: space-between; /*Flexbox - Espaça os elementos do Main Apresentação*/
    gap: 32px; /*Espaçamento entre os itens*/
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria); /*Formato da Fonte do google fonts*/
    font-weight: 400; /*Peso da fonte*/
    font-size: 1.5rem; /*Tamanho da fonte. Alterado de 24px para rem. 16px = 1.*/
}
.apresentacao__links__navegacao { /*Propriedades do <a> link botao*/
    /* background-color: var(--cor-terciaria); /*Cor de fundo do botão*/
    display: flex;  /*Flexbox - Posiciona tudo dentro do elemento Pai um do lado do outro*/
    justify-content: center; /*Flexbox - Espaça os elementos*/
    gap: 16px; /*Espaçamento entre os itens*/
    border: 2px solid var(--cor-terciaria); /*Borda do botao*/
    width: 50%; /*Largura do botao. Alterado de 378px para %*/
    text-align: center; /*Centralizar texto do botao*/
    border-radius: 8px; /*Borda do botao*/
    font-size: 1.5rem; /*Tamanho da fonte do botao. Alterado de 24px para rem. 16px = 1.*/
    font-weight: 600; /*Peso da fonte*/
    padding: 21.5px 0; /*Distancia do texto ate a borda, horizontal e vertical */
    text-decoration: none; /*Remove a decoração do texto do botão*/
    color: var(--cor-secundaria); /*Cor do texto do botão*/
    font-family: var(--fonte-secundaria); /*Tipo da fonte do botão*/
    
}

.apresentacao__links__link:hover { /*Estiliza o botão quando passa o mouse sobre */
    background-color: var(--cor-hover);
}

.apresentacao__imagem { /*Estiliza a imagem*/
    width: 50%;  /*Tamanho da imagem acompanhando o elemento pai main*/
}

.rodape {  /*Estiliza o rodape*/
    color: var(--cor-primaria); 
    background-color: var(--cor-terciaria);/*cor do plano de fundo*/
    padding: 24px 0; /*Distancia do texto ate a borda, horizontal e vertical */
    text-align: center;
    font-family: 'Montserrat', sans-serif; /*Tipo da fonte do botão*/
    font-size: 1.5rem; /*Tamanho da fonte. Alterado de 24px para rem. 16px = 1.*/
    font-weight: 400; /*Peso da fonte*/
}

@media (max-width: 1200px) {
    .cabecalho {  /*Cabecalho responsivo*/
        padding: 10%; /*Cria margem laterais, superior*/
    }

    .cabecalho__menu { /*Cabecalho responsivo*/
        justify-content: center;
    }

    .apresentacao { /*Propriedades do main responsivo*/
        flex-direction: column-reverse; /*Coloca o flex direction em coluna*/
        padding: 5%; /*Cria margem laterais, superior*/
    
    }

    .apresentacao__conteudo {
        width: auto;
    }
    
}
